<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>streamingSong.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>898D381EF47BEFD512335D2F1E1E4514569DE061</string>
				<key>dateExpires</key>
				<string>16/04/2019</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>948LL44TD3.stars.streamingSong</string>
				<key>com.apple.developer.team-identifier</key>
				<string>948LL44TD3</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>948LL44TD3.stars.streamingSong</string>
				</array>
			</dict>
			<key>name</key>
			<string>streamingSong.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>7ccafd0b-0e6d-4b98-9321-cd39d4aa128f</string>
				<key>name</key>
				<string>radiokompas</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>948LL44TD3</string>
				<key>name</key>
				<string>Kurt Warson</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
